
.weather-card {
    border-radius: 10px;
    background: url('/src/assets/sun.jpeg') no-repeat center center/cover ;
    padding: 30px;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4); /* Adjust the opacity as needed */
    box-shadow: 0 4px 6px rgba(200, 212, 222, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Add a shadow effect */
  }
  .weather-content {
    display: flex;
    flex-direction: row;
    color:#fff;
    font-weight:700;
   
  }
  
  .weather-content #weath{
    margin: 5px 30px;
  }
  